overfit.pth.tar
overfit.pth
output
data/airbus-ship-detection/images
data/airbus-ship-detection/labels
data/airbus-ship-detection/test_v2
data/airbus-ship-detection/sample_submission_v2.csv
data/airbus-ship-detection/train_ship_segmentations_v2.csv
data/DOTA-v2.0/test-dev
data/DOTA-v2.0/train
data/DOTA-v2.0/labelTxt_all
data/DOTA-v2.0/val
data/DOTA-v2.0/images
data/DOTA-v2.0/labels
data/VOC2007_2012
__pycache__
submit
.vscode
OLD_train_for_DOTA.py
cfg
submit_VOC
submit_DOTA
x.pt
y.pt
modelx.pt
bboxes.pt
